/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13 нояб. 2023 г., 22:04:45
    Author     : Александр Щ.
*/
*{
    box-sizing: border-box;
}
body,
html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body{
    background: #f0f0f0;
}
.bullet{
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
/*    background-color: #fc1117;*/
    /*border-radius: 50%;*/
    
}
.scene{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #211515;
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
}
.info{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.info__label{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #eee;
    text-align: center;
}
.d-none{
    display: none;
}
.canvas{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}
.plane{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width:117px;
    height: 36px;
    background: url("../img/plane.png") no-repeat;
    background-size: contain;
}